body{
    background-color: #938cfc;
}

.container{
    margin-top: 60px;
    display: inline-block;
    float: left;
    width: 600px;
    margin-left: calc(50% - 300px);
    border: 2px solid grey;

}
    .header{
        display: inline-block;
        float: left;
        background-color: white;
        width: 600px;
        margin-left: calc(50% - 300px);
        border-bottom: 2px solid #eee;
        position: relative;
        padding: 10px;
        padding-bottom: 20px;

    }
        .link{
            display: inline-block;
            float: left;

        }
            .close{
                display: inline-block;
                font-size: 15px;
                color: #fff;
                padding:5px;
                margin-right: 15px;
                text-decoration: none;
                border-radius: 50%;
                background-color: #797a7c;
                width: 25px;
                height: 25px;
                line-height:25px;
                padding:0;
                text-align: center;
                line-height: 22px;

            }

            
            }
            .link2{
                display: inline-block;
            }
            .link2 > a{
                display: inline-block;
                float: right;
                line-height: 20px;
                padding: 5px;
                font-size: 15px;
                color: #fff;
                margin-right: 15px;
                text-decoration: none;
                border-radius: 50%;
                background-color: #b2b3b4;
                width: 25px;
                height: 25px;
                text-align: center;
                padding-top: 3px;
                margin-top: 2px;


            }
        .header > .logo{
            display: inline;
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }

    .main{
        display: inline-block;
        width: 600px;
        padding-top: 15px;
        margin-left: calc(50% - 300px);
        background-color:white;
        padding: 15px 100px;
    }
        .main  .btn{
            display: inline-block;
            width: 400px;
            margin-left: calc(50% - 200px);
            text-align: center;
            margin-bottom: 8px;
            line-height: 20px;
            border-radius: 20px;
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px;
        }
        .fb{
            background-color:#3c5d96;
            color: #fff;
        }
        .apple{
            background-color: #000;
            color: #fff;
        }
        .number{
            border: 1px solid grey;
        }
        .line{
            border-top: 1px solid  #ccc;
            display: block;
            text-align: center;
            line-height: 1px;
            margin: 15px 0;
            position: relative;
            width: 400px;
            margin-left: calc(50% - 200px);
        }
        .span{
            background-color: #fff;
            font-size: 10px;
            font-weight: normal;
            letter-spacing: 1px;
            padding: 0 20px;
            
            text-transform: uppercase;

        }
        .main  .input{
            display: inline-block;
            width: 400px;
            margin-left: calc(50% - 200px);
            margin-bottom: 5px;
            padding: 5px;
        }
        .main > a{
            display: inline-block;
            width: 400px;
            margin-left: calc(50% - 20px);
        }

    .row{
        margin-top: 10px;
    }
        .row > input{
            display: inline-block;
            float: left;
            margin-top: 6px;
            background-color: green;
           
            }
    
       .first{
        display: inline-block;
        float: left;
        width: 50%;
        color: #1DB954;
        text-align: left;
        padding: 2px 3px;
        
        }
      

        .second{
        display: inline-block;
        float: right;
        width: 40%;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        margin-top: -18px;
        word-spacing: 3px;
            border: 1px solid grey;
            padding: 0px;
            border-radius: 20px;
            padding: 2px 3px;
            border: 1px solid transparent;
            background-color: #57af54;

        }

        .main  .p{
            display: inline-block;
            text-align: center;
            font-size: 15px;
            width: 400px;
            margin-left: calc(50% - 200px);
            text-decoration: none;
            color: green;
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }
        .main .acc{
            text-transform: initial;
            color: #000;
            font-weight: bold;
            padding-top: 15px;
        }
        .main > .last{
            border: 1px solid grey;
            color: grey;
        }